[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:Dev050x/anchor-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = git@github.com:Dev050x/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = git@github.com:Dev050x/anchor-amm.git
