[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:Dev050x/anchor-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = git@github.com:Dev050x/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = git@github.com:Dev050x/anchor-amm.git
[submodule "nft-staking"]
	path = nft-staking
	url = git@github.com:Dev050x/NFT_STAKING.git
[submodule "NFT_STAKING"]
	path = NFT_STAKING
	url = git@github.com:Dev050x/NFT_STAKING.git
